<?xml version='1.0' encoding='utf-8'?>
<widget id="com.genvidtech.marketplacedemo" version="1.1.1" xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Genvid Cordova Marketplace Demo</name>
    <description>Cordova Marketpalce App to test Plugin Integration</description>
    <author email="support@genvidtech.com" href="https://genvidtech.com">
        Genvid Technologies, LLC
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <plugin name="file://../genvid-cordova-plugin-marketplace-1.1.1.tgz" />
    <plugin name="file://../cordova-plugin-marketplace-tests-1.1.1.tgz" />
    <plugin name="cordova-plugin-test-framework" />
    <platform name="ios">
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />
        <!-- The plugin's Marketplace.swift uses os.Logger (iOS 14+); the
             MarketplaceKit path is #available-guarded for 17.4. cordova-ios
             defaults to a lower target, which fails to compile, so pin >=14. -->
        <preference name="deployment-target" value="14.0" />
    </platform>
</widget>